<section class="about" data-scroll-index="1">
	<div class="page">
		<div class="inner-sec clearfix">
			<div class="text-sec" data-anijs="if: scroll, on:window, do: bounceInLeft animated, before: scrollReveal, after: holdAnimClass">
				<h1>About Me</h1>
				<p>Greetings! I am a web and front-end developer with 4 years full time experience. I've got a passion for web and front-end development and the back end know-how to support that. I love to use cutting edge technology and the latest web standards to craft lean, mean and clean code that runs like greased lightning. I like to work alongside designers to see their vision come to life and pull off pixel perfection. I'm as comfortable mentoring others, as I am learning from them. I have worked with different clients, providing responsive web design, front-end development, and Drupal development & integrations.</p>
			</div>
		</div>
	</div>
</section>