<section class="footer" data-scroll-index="4">
    <div class="page">
        <div class="inner-sec clearfix">
            <div class="email"><a href="mailto:its.punya@gamil.com"><i class="fa fa-envelope"></i> its.punya@gmail.com</a></div>
            <div class="social-link clearfix">
                <a href="https://www.facebook.com/its.sudip" data-anijs="if: scroll, on: window, do: rotateIn animated, before: scrollReveal, after: removeAnim"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/punyaruchal" data-anijs="if: scroll, on: window, do: rotateIn animated, before: scrollReveal, after: removeAnim"><i class="fa fa-twitter"></i></a>
                <a href="https://np.linkedin.com/in/punyaruchal" data-anijs="if: scroll, on: window, do: rotateIn animated, before: scrollReveal, after: removeAnim"><i class="fa fa-linkedin"></i></a>
                <a href="#" data-anijs="if: scroll, on: window, do: rotateIn animated, before: scrollReveal, after: removeAnim"><i class="fa fa-instagram"></i></a>
                <a href="#" data-anijs="if: scroll, on: window, do: rotateIn animated, before: scrollReveal, after: removeAnim"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</section>