<div class="slide slide-menu left">
	
	<div class="brand">
        <a class="site-title" href="{{ site.baseurl }}/">punya<span>ruchal</span></a>
    </div>
    
 	<div class="overlay"></div>

  	<a class="ninja-btn" title="menu"><span></span></a>

	<ul>
		<li><a data-scroll-nav="0"><i class="fa fa-home"></i> Home</a></li>
		<li><a data-scroll-nav="1"><i class="fa fa-user"></i> About</a></li>
		<li><a data-scroll-nav="2"><i class="fa fa-cog"></i> What I Do</a></li>
		<li><a data-scroll-nav="3"><i class="fa fa-phone"></i> Contact</a></li>
	</ul>
</div><!-- panel -->