<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  

{% include head.html %}

    <body class="one-page">
        <div id="wrapper">
            {% include menu.html %}
            <div class="inner-wrap">
                <div id="content-wrap">
                    {% include introduce.html %}
                    {% include about.html %}
                    {% include whatido.html %}
                    {% include portfolio.html %}
                    {% include footer.html %}
                </div>
            </div>
            <div class="panel-overlay"></div>
        </div>
        
        {% include js.html %}

    </body>

</html>
